* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", "PingFang", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #fff;
}

/* 導航列 */

.nav-bar {
  /* border: 3px solid black; */
  /* 位置、內部排版 */ /* 固定在上方 */
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* 樣式、其他 */
  width: 100%;
  background: #fff;
  padding: 24px 72px;
}

.bar-2 {
  /* border: 3px solid black; */
  position: absolute;
  left: 31%;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-bar a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  /* word */
  text-decoration: none;
  color: #6029f5;
  font-size: 2rem;
  text-align: center;
}

.nav-bar a:hover {
  color: #e335ff;
}

/* .bar-2 {
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
} */

.nav-bar .btn,
.page-8-btn {
  /* 排版位置 */
  margin-left: 2rem;
  /* 按鈕樣式 */
  background: #f8cc46;
  border-radius: 100px;
  border: none;
  padding: 10px 30px;
  /* word */
  font-size: 2rem;
}

.nav-bar .btn:hover,
.page-8-btn:hover {
  /* 使用 border 會移動到，outline 不會讓他動來動去 */
  outline: 8px solid #ffe79e;
}

.fa-bars {
  display: none;
}

@media (max-width: 1220px) {
  .fa-bars {
    display: block;
    color: #e335ff;
    font-size: 3rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  .bar-2 {
    position: static;
    display: none;
    flex-direction: column;
    align-self: center;
    width: 100%;
    margin-top: 2rem;

    background: #fff;
    border: 1px solid #e335ff;
    font-size: 0;
  }

  .nav-bar a {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .nav-bar a:hover {
    color: #6029f5;
    background: #f9d1ff;
  }
  .nav-bar .btn-log-in {
    margin: 3rem auto;
  }

  .btn-sign-up {
    /* position: relative; */
    /* left: 25%; */
    margin-right: 10px;
  }

  .show {
    display: flex;
  }
}

@media (max-width: 700px) {
  .logo {
    width: 50%;
  }
  .nav-bar .btn-sign-up {
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px 20px;
  }
}

/* 主軸 */

.container {
  margin: 120px 72px 24px;
  border: 1px solid #e335ff;
}

/* 第一頁 */

.page-1 {
  position: relative;
  width: 100%;
}

.page-1 .page-1-back {
  width: 100%;
}

.page-1 .page-1-genie {
  position: absolute;
  top: 25%;
  left: 6%;
  height: 40%;
}

.page-1 .page-1-title {
  position: absolute;
  top: 63%;
  left: 41%;
  width: 50%;
}

/* 第二頁 */

.page-2 {
  position: relative;
  background: #fdf7e8;
  width: 100%;
  height: 500px;
  /* 內部排版 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.page-2 h3 {
  font-size: 3rem;
}

.page-2 p {
  background: #fff;
  width: 60%;
  border: 1px solid #e335ff;
  border-radius: 10px;
  padding: 12px 0 15px 0;

  font-size: 2rem;
  text-align: center;
}

.page-2-img {
  position: absolute;
  height: 20%;
  left: 21%;
}

.page-2-genie1 {
  top: 13%;
}

.page-2-genie2 {
  top: 36%;
}

.page-2-genie3 {
  top: 58%;
}

@media (max-width: 700px) {
  .page-2 h3 {
    font-size: 2rem;
  }

  .page-2 p {
    font-size: 1rem;
  }
}

/* 第三頁 */

.page-3 {
  margin-top: 88px;
}

.page-3 h3 {
  text-align: center;
  font-size: 3rem;
}

@media (max-width: 700px) {
  .page-3 h3 {
    font-size: 2rem;
  }
}

/* 第四頁 */

.page-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-4-back {
  margin-top: 40px;
  width: 85%;
}

.page-4-title {
  position: absolute;
  top: 27%;
  height: 47%;
}

/* .page-4 p {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  height: 400px;
  position: absolute;
  top: 28%;
  left: 47%;
  font-size: 4.5rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
} */

.page-4-genie1 {
  position: absolute;
  top: 39%;
  left: 9%;
  height: 35%;
}

.page-4-genie2 {
  position: absolute;
  top: 35%;
  left: 65%;
  height: 35%;
}

/* 第五頁 */

.page-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.page-5-title {
  font-size: 3rem;
  line-height: 39px;
  margin: 88px 0 20px;
}

.page-5-subtitle {
  font-size: 2.5rem;
  line-height: 29px;
  margin-bottom: 48px;
}

.cards {
  display: flex;
  margin-bottom: 88px;
}

.cards img {
  border-radius: 20px 20px 0 0;
}

.card-1,
.card-2,
.card-3 {
  margin: 10px;
  border: 1px solid #e335ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-buttons {
  width: 100%;
  margin-top: 24px;
  padding-left: 30px;
}

.card-1-week,
.card-2-week,
.card-3-week {
  background: #fff;
  padding: 9px 24px;
  border: 1px solid #f8cc46;
}

.card-2-week {
  border: 1px solid #79eaee;
}

.card-3-week {
  border: 1px solid #895cdd;
}

.card-1-topic,
.card-2-topic,
.card-3-topic {
  background: #f8cc46;
  height: 100%;
  padding: 8px 24px;
  border: none;
  margin-left: 10px;
}

.card-2-topic {
  background: #79eaee;
}

.card-3-topic {
  background: #895cdd;
  color: #fff;
}

.card-topic-name {
  width: 100%;
  margin: 24px 0;
  padding-left: 30px;
  font-size: 20px;
}

.card-sponser {
  width: 100%;
  border-top: 1px solid #e335ff;
  text-align: center;
  font-size: 14px;
  padding: 16px;
}

@media (max-width: 1100px) {
  .cards {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .page-5-title {
    font-size: 2.5rem;
    line-height: 30px;
    margin: 88px 0 15px;
  }
  .page-5-subtitle {
    font-size: 1.7rem;
    line-height: 20px;
    margin-bottom: 48px;
  }
}

@media (max-width: 700px) {
  .page-5-title {
    font-size: 2rem;
    line-height: 30px;
    margin: 88px 0 15px;
  }
  .page-5-subtitle {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 48px;
  }
}

/* 第六頁 */
.page-6 {
  background: #fdf7e8;
  /* height: 922px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}
.page-6-title {
  margin-top: 88px;
  margin-bottom: 32px;
  font-size: 3rem;
  line-height: 39px;
}
.buttons {
  font-size: 0;
  width: 80%;
}

.page-6-btn1,
.page-6-btn2 {
  border: none;
  display: inline-block;
  font-size: 2.3rem;
  line-height: 29px;
  width: 50%;
  padding: 20px 0;
  cursor: pointer;
}

.page-6-img1,
.page-6-img2 {
  width: 80%;
}

.white-background {
  background: #fff;
}

.yellow-background {
  background: #fdf7e8;
}

.close {
  display: none;
}

/* .page-6-img1 {
  display: block;
}

.page-6-img2 {
  display: block;
} */

/* 第七頁 */
.page-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.page-7-back {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.page-7-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 88px;
}

.page-7-subtitle {
  font-size: 2.5rem;
  line-height: 29px;
  margin-top: 20px;
}

.rule-and-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin-top: 40px;
  margin-bottom: 150px;
}

.genie-talking-rule,
.genie-talking-price {
  width: 48%;
  text-align: center;
}

.rules,
.price {
  border: 1px solid #e335ff;
  border-radius: 30px;
  background: #fff;
  padding: 40px 32px;
  /* width: 48%; */
}

.rules-title,
.price-title {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.rules-description,
.price-description {
  padding-left: 1.5em;
}
.rules-description li,
.price-description li {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 15px;
}

.purple-price {
  color: #6029f5;
}

.smaller-price {
  display: block;
  font-size: 1.5rem;
  line-height: 200%;
}

/* .polygon1 { */
/* width: 400px;
  height: 200px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 25% 75%, 30% 80%, 35% 83%);
  background: #79eaee; */
/* } */

.page-7-genie1 {
  width: 30%;
  margin-top: 40px;
}

.page-7-genie2 {
  width: 30%;
}

@media (max-width: 1100px) {
  .rule-and-price {
    flex-direction: column;
    align-items: center;
  }

  .genie-talking-rule,
  .genie-talking-price {
    width: 80%;
  }

  .page-7-genie1 {
    margin-top: 20px;
    width: 20%;
  }

  .page-7-genie2 {
    margin-top: 20px;
    width: 20%;
  }
}

@media (max-width: 700px) {
  .page-7-title {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 88px;
  }

  .page-7-subtitle {
    font-size: 2rem;
    line-height: 29px;
    margin-top: 20px;
  }

  .rules-title,
  .price-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .rules-description,
  .price-description {
    padding-left: 1.5em;
  }
  .rules-description li,
  .price-description li {
    font-size: 1.5rem;
  }

  .purple-price {
    display: block;
    line-height: 2;
  }

  .smaller-price {
    font-size: 1rem;
    letter-spacing: 0;
  }
}

/* 第八頁 */
.page-8 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-8-back {
  width: 100%;
}

/* .half-circle {
  height: 1200px;
  background: #fff;
  border: 1px solid #e335ff;
  border-radius: 70% 70% 0 0;
} */

.circle-border,
.circle-back {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.circle-border {
  bottom: 9%;
}

.star {
  position: absolute;
  left: 48.5%;
  top: 9%;
  width: 5%;
}

.inside-circle-container {
  position: absolute;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inside-circle-container h3 {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 44px;
  letter-spacing: 0.2em;
  margin-bottom: 12px;
}

.inside-circle-container p {
  font-size: 2.5rem;
  line-height: 29px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.page-8-btn {
  margin-left: 0;
}

@media (max-width: 1100px) {
  .inside-circle-container h3 {
    font-size: 2.5rem;
    line-height: 35px;
  }

  .inside-circle-container p {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .page-8-btn {
    padding: 10px 30px;
    /* word */
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  .inside-circle-container h3 {
    font-size: 2rem;
    line-height: 15px;
  }

  .inside-circle-container p {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .page-8-btn {
    padding: 5px 25px;
    /* word */
    font-size: 1.2rem;
  }

  .page-8-btn:hover {
    /* 使用 border 會移動到，outline 不會讓他動來動去 */
    outline: 5px solid #ffe79e;
  }
}
/* 第九頁 */
.page-9 {
  background: #fdf7e8;
  padding: 88px 110px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.page-9 h3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 32px;
}

.sponsers {
  display: flex;
  justify-content: space-between;
}
.sponser {
  background: #fff;
  border: 1px solid #e335ff;
  border-radius: 20px;
  padding: 32px 0;
  width: 31%;
}

@media (max-width: 1100px) {
  .page-9 {
    padding: 88px 20px;
  }
}

/* 第十頁 */
.page-10 {
  padding: 40px 0;
  border-top: 1px solid #e335ff;
}

.page-10 p {
  font-size: 2rem;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1000px) {
  .page-10 p {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .page-10 p {
    font-size: 1rem;
  }
}

.page-11 {
  height: 24px;
  width: 100%;
}
